<% # SECTION: for tablets and mobile phones %>
<div class="hidden-md hidden-lg">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#profile-nav-menu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'MyUSA Account Settings', '#', :class => 'navbar-brand', :'data-toggle' => 'collapse', :'data-target' => '#profile-nav-menu' %>
      </div>
      <div class="collapse navbar-collapse" id="profile-nav-menu">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to raw('My Profile <span class="caret"></span>'), '#', :class => 'dropdown-toggle', :'data-toggle' => 'dropdown' %>
            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to 'Personal Information', profile_path %>
              </li>
              <li>
                <%= link_to 'Additional Information', additional_profile_path %>
              </li>
            </ul>
          </li>
          <li>
            <%= link_to 'My Applications', authorizations_path %>
          </li>
          <li>
            <%= link_to raw('My Settings <span class="caret"></span>'), '#', :class => 'dropdown-toggle', :'data-toggle' => 'dropdown' %>
            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to 'Delete Account', delete_account_profile_path %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<% # SECTION: for desktops %>
<div class="hidden-xs hidden-sm">
  <nav id="nav" data-spy="affix" data-offset-top="80" class="nav">

    <div class="list-group">
      <%= link_to 'My Profile', profile_path, :class => 'list-group-item heading' %>
      <div id="oauth-menu">
        <%= link_to 'Personal Information', profile_path, :class => 'list-group-item' %>
        <%= link_to 'Additional Information', additional_profile_path, :class => 'list-group-item' %>
      </div>
    </div>
    <div class="list-group">
      <%= link_to 'My Applications', authorizations_path, :class => 'list-group-item heading' %>
    </div>
    <div class="list-group">
      <%= link_to 'My Settings', delete_account_profile_path, :class => 'list-group-item heading' %>
      <div id="oauth-menu">
        <%= link_to 'Delete Account', delete_account_profile_path, :class => 'list-group-item' %>
        <% #
           # TODO: These nav links are included as a placeholder for future functionality
           # Notification Settings - turn on/off notifications
           # Security - add/change 2FA phone number, change email address, and delete account
           # (Delete Account should move inside Security / Settings)
           # <= link_to 'Notifications', '#', :class => 'list-group-item' >
           # <= link_to 'Security', '#', :class => 'list-group-item' >
        %>
      </div>
    </div>
  </nav>
</div>
