<div class="row aglio profile">
  <div class="col-md-3">
    <%= render 'profiles/nav'%>
  </div>
  <div class="col-md-9">
    <h1>
      <%= t('profile.additional_title') %>
    </h1>
    <p>
    Government services can personalize your experience if you provide additional information about yourself.  Everything on this page is optional.
    </p>
    <%= form_for @profile, html: { class: 'form' } do |form| %>
      <%= hidden_field_tag 'target', 'additional' %>
      <fieldset>
        <h2>
          <%= t('profile.about_you_heading') %>
        </h2>
        <div class='form-group'>
          <%= form.label :gender, class: 'control-label' %>
          <%= form.select :gender, gender_options, { include_blank: t('profile.select_fields.default.placeholder') }, { class: 'form-control' } %>
        </div>
      </fieldset>
      <fieldset>
        <div class='form-group'>
          <%= form.label :marital_status, class: 'control-label' %>
          <%= form.select :marital_status, marital_status_options, { include_blank: t('profile.select_fields.default.placeholder') }, { class: 'form-control' } %>
        </div>
      </fieldset>
      <fieldset>
        <div class="form-group">
          <%= form.label t('scopes.profile.is_parent.label'), class: 'control-label' %>
          <%= form.select :is_parent, yes_no_options, { include_blank: t('profile.select_fields.default.placeholder') }, { class: 'form-control' } %>
        </div>
        <div class="form-group">
          <%= form.label t('scopes.profile.is_veteran.label'), class: 'control-label' %>
          <%= form.select :is_veteran, yes_no_options, { include_blank: t('profile.select_fields.default.placeholder') }, { class: 'form-control' } %>
        </div>
        <div class="form-group">
          <%= form.label t('scopes.profile.is_student.label'), class: 'control-label' %>
          <%= form.select :is_student, yes_no_options, { include_blank: t('profile.select_fields.default.placeholder') }, { class: 'form-control' } %>
        </div>
        <div class="form-group">
          <%= form.label t('scopes.profile.is_retired.label'), class: 'control-label' %>
          <%= form.select :is_retired, yes_no_options, { include_blank: t('profile.select_fields.default.placeholder') }, { class: 'form-control' } %>
        </div>
      </fieldset>
      <div class="row submit">
        <div class="col-md-8 col-sm-8">
          <%= form.submit t('profile.settings_update'), :class => 'btn btn-primary width-100' %>
        </div>
        <div class="col-md-4 col-sm-4">
          <%= link_to t(:cancel), profile_path, :class => 'btn btn-default width-100' %>
        </div>
      </div>
    <% end %>

    <p class="disclaimer-info label-pad">
      <small>
      PRIVACY ACT STATEMENT. Authority: This collection is authorized by the E-Government Act of 2002 (P.L. 107-347). Purpose: Assist users in easier interaction with the Government. Routine Uses: This information may be used when required in legal or administrative proceedings, given to to agencies responsible for enforcing a statute or regulation, provided to Congress for constituent services or to OPM, OMB, or GAO for program evaluation purposes, shared with a consultant or contractor in the furtherance of a federal duty, given to NARA for records management purposes, shared with an agency when related to employee hiring or credentialing or issuance of a license or other benefit, or shared with an entity to redress a breach of the information system. Effects: Providing information is voluntary, but failure to provide information will limit an individuals’ ability to use MyUSA. For a complete explanation, please see the <%= link_to 'MyUSA Privacy Act System of Records Notice', 'http://www.gpo.gov/fdsys/pkg/FR-2013-07-05/pdf/2013-16124.pdf' %>.
      </small>
    </p>

  </div>
</div>