<div class="row aglio profile delete-account">
  <div class="col-md-3">
    <%= render 'profiles/nav'%>
  </div>
  <div class="col-md-9">
    <h1>
      <%= t('delete_account.form_legend') %>
    </h1>
    <%= form_tag @profile, method: :delete, class: 'form' do %>
      <fieldset>
        <div class="alert alert-warning">
          <p><%= t('delete_account.alert') %></p>
        </div>
        <% if @public_apps.present? %>
        <p><%= t('delete_account.public_apps_warning') %></p>
          <ul>
            <% @public_apps.each do |app| %>
            <li><%= app.name %></li>
            <% end %>
          </ul>
        <% end %>
        <% if @private_apps.present? %>
        <p><%= t('delete_account.private_apps_warning') %></p>
          <ul>
            <% @private_apps.each do |app| %>
            <li><%= app.name %></li>
            <% end %>
          </ul>
        <% end %>
        <div class="form-group">
          <%= label_tag :email, t('delete_account.enter_email_prompt'), class: 'control-label' %>
          <div class="controls">
            <%= text_field_tag :email, nil, class: 'form-control', placeholder: Profile.human_attribute_name(:email) %>
            <p class="help-block"><span class="text-danger"><%= t('delete_account.warning_message') %></span></p>
          </div>
          <%= submit_tag t('delete_account.final_button'), class: 'btn btn-danger', data: { confirm: t('delete_account.confirmation') } %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
