<div class="row">
  <div class="col-md-12">
    <h2>
      <%= t('profile.settings_title') %>
    </h2>
    <h3>
      <%= t('profile.heading') %>
    </h3>
    <%= form_for @profile do |form| %>
      <fieldset>
        <legend>
          <%= t('profile.name_heading') %>
        </legend>
        <div class='form-group'>
          <%= form.label :title %>
          <%= form.select :title, title_options, { include_blank: true }, { class: 'form-control' } %>
        </div>
        <div class='form-inline'>
          <%= form.label :first_name %>
          <%= form.text_field :first_name, class: 'form-control' %>
          <%= form.label :middle_name %>
          <%= form.text_field :middle_name, class: 'form-control' %>
          <%= form.label :last_name %>
          <%= form.text_field :last_name, class: 'form-control' %>
        </div>
        <div class='form-group'>
          <%= form.label :suffix %>
          <%= form.select :suffix, suffix_options, { include_blank: true }, { class: 'form-control' } %>
        </div>
      </fieldset>
      <fieldset>
        <legend>
          <%= t('profile.address_heading') %>
        </legend>
        <div class='form-group'>
          <%= form.label :address %>
          <%= form.text_field :address, class: 'form-control' %>
        </div>
        <div class='form-group'>
          <%= form.label :address2, class: 'hidden-label' %>
          <%= form.text_field :address2, class: 'form-control' %>
        </div>
        <div class='form-inline'>
          <%= form.label :city %>
          <%= form.text_field :city, class: 'form-control' %>
          <%= form.label :state %>
          <%= form.select :state, us_state_options, { include_blank: true }, { class: 'form-control' } %>
          <%= form.label :zip %>
          <%= form.text_field :zip, class: 'form-control' %>
        </div>
      </fieldset>
      <fieldset>
        <legend>
          <%= t('profile.phone_heading') %>
        </legend>
        <div class='form-group'>
          <%= form.label :phone_number %>
          <%= form.phone_field :phone_number, class: 'form-control' %>
        </div>
        <div class='form-group'>
          <%= form.label :mobile_number %>
          <%= form.phone_field :mobile_number, class: 'form-control' %>
        </div>
      </fieldset>
      <fieldset>
        <legend>
          <%= t('profile.gender_heading') %>
        </legend>
        <div class='form-group'>
          <%= form.label :gender %>
          <%= form.select :gender, gender_options, { include_blank: true }, { class: 'form-control' } %>
        </div>
      </fieldset>
      <fieldset>
        <legend>
          <%= t('profile.marital_status_heading') %>
        </legend>
        <div class='form-group'>
          <%= form.label :marital_status %>
          <%= form.select :marital_status, marital_status_options, { include_blank: true }, { class: 'form-control' } %>
        </div>
      </fieldset>
      <fieldset>
        <legend>
          <%= t('profile.about_you_heading') %>
        </legend>
          <div class="form-group">
            <%= form.check_box :is_parent %>
            <%= form.label :is_parent %>
          </div>
          <div class="form-group">
            <%= form.check_box :is_veteran %>
            <%= form.label :is_veteran %>
          </div>
          <div class="form-group">
            <%= form.check_box :is_student %>
            <%= form.label :is_student %>
          </div>
          <div class="form-group">
            <%= form.check_box :is_retired %>
            <%= form.label :is_retired %>
          </div>
      </fieldset>
      <div class='row'>
        <%= form.submit t('profile.update'), :class => 'large button positive' %>
        <%= link_to t(:cancel), profile_path %>
      </div>
      <div class='row'>
        &nbsp;
      </div>
    <% end %>
  </div>
</div>
