<div class="row">
  <div class="col-md-12">
    <h2>
      <%= t('profile.settings_title') %>
    </h2>
    <h3>
      <%= t('profile.heading') %>
    </h3>
  </div>
  <%= link_to edit_profile_path, :class => 'small button' do %>
    <i class="foundicon-edit"></i>
    <%= t(:edit_your_profile) %>
  <% end %>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <h3>
        <%= t('profile.name_heading') %>
      </h3>
      <ul class="list-group">
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:title) %></h4>
          <span id="title"><%= @profile.title %></span>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:first_name) %></h4>
          <span id="first_name"><%= @profile.first_name %></span>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:middle_name) %></h4>
          <span id="middle_name"><%= @profile.middle_name %></span>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:last_name) %></h4>
          <span id="last_name"><%= @profile.last_name %></span>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:suffix) %></h4>
          <span id="suffix"><%= @profile.suffix %></span>
        </li>
      </ul>
    </div>
    <div class="panel">
      <h3>
        <%= t('profile.address_heading') %>
      </h3>
      <ul class="list-group">
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:address) %></h4>
          <span id="address"><%= @profile.address %></span>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:address2) %></h4>
          <span id="address2"><%= @profile.address2 %></span>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:city) %></h4>
          <span id="city"><%= @profile.city %></span>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:state) %></h4>
          <span id="state"><%= @profile.state %></span>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:zip) %></h4>
          <span id="zip"><%= @profile.zip %></span>
        </li>
      </ul>
    </div>
  </div>
  <div class="six columns">
    <div class="panel">
      <h3>
        <%= t('profile.phone_heading') %>
      </h3>
      <ul class="list-group">
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:phone_number) %></h4>
          <span id="phone_number"><%= @profile.phone_number %></span>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:mobile_number) %></h4>
          <span id="mobile_number"><%= @profile.mobile_number %></span>
        </li>
      </ul>
    </div>
    <div class="panel">
      <h3>
        <%= t('profile.about_you_heading') %>
      </h3>
      <ul class="list-group">
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:email) %></h4>
          <span id="email"><%= current_user.email %></span>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:gender) %></h4>
          <span id="gender"><%= @profile.print_gender %></span>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:marital_status) %></h4>
          <span id="marital_status"><%= @profile.print_marital_status %></span>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:is_parent) %></h4>
          <span id="is_parent"><%= yes_or_no(@profile.is_parent) %></span>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:is_veteran) %></h4>
          <span id="is_veteran"><%= yes_or_no(@profile.is_veteran) %></span>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:is_student) %></h4>
          <span id="is_student"><%= yes_or_no(@profile.is_student) %></span>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:is_retired) %></h4>
          <span id="is_retired"><%= yes_or_no(@profile.is_retired) %></span>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row"></div>
