<div class="row">
  <div class="col-md-12">
    <h2>
      <%= t('profile.settings_title') %>
    </h2>
    <h3>
      <%= t('profile.heading') %>
    </h3>
  </div>
  <%= link_to edit_profile_path, :class => 'small button' do %>
    <i class="foundicon-edit"></i>
    <%= t(:edit_your_profile) %>
  <% end %>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <h3>
        <%= t('profile.name_heading') %>
      </h3>
      <ul class="list-group">
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:title) %></h4>
          <%= @profile.title %>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:first_name) %></h4>
          <%= @profile.first_name %>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:middle_name) %></h4>
          <%= @profile.middle_name %>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:last_name) %></h4>
          <%= @profile.last_name %>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:suffix) %></h4>
          <%= @profile.suffix %>
        </li>
      </ul>
    </div>
    <div class="panel">
      <h3>
        <%= t('profile.address_heading') %>
      </h3>
      <ul class="list-group">
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:address) %></h4>
          <%= @profile.address %>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:address2) %></h4>
          <%= @profile.address2 %>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:city) %></h4>
          <%= @profile.city %>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:state) %></h4>
          <%= @profile.state %>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:zip) %></h4>
          <%= @profile.zip %>
        </li>
      </ul>
    </div>
  </div>
  <div class="six columns">
    <div class="panel">
      <h3>
        <%= t('profile.phone_heading') %>
      </h3>
      <ul class="list-group">
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:phone_number) %></h4>
          <%= @profile.phone_number %>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:mobile_number) %></h4>
          <%= @profile.mobile_number %>
        </li>
      </ul>
    </div>
    <div class="panel">
      <h3>
        <%= t('profile.about_you_heading') %>
      </h3>
      <ul class="list-group">
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:email) %></h4>
          <%= current_user.email %>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:gender) %></h4>
          <%= @profile.print_gender %>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:marital_status) %></h4>
          <%= @profile.print_marital_status %>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:is_parent) %></h4>
          <%= yes_or_no(@profile.is_parent) %>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:is_veteran) %></h4>
          <%= yes_or_no(@profile.is_veteran) %>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:is_student) %></h4>
          <%= yes_or_no(@profile.is_student) %>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= Profile.human_attribute_name(:is_retired) %></h4>
          <%= yes_or_no(@profile.is_retired) %>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row"></div>
