<% scopes_by_group(scopes) do |group, group_scopes| %>
  <%- if group_scopes.present? -%>

  <section>
    <h3 id="section_<%= group %>"><%= t("scope_groups.#{group}.subheading", app_name: app_name) %></h3>

    <% group_scopes.each_with_index do |scope, index| %>

      <% if scope_value_present?(scope) %>
        <span class="value" id="user_<%= scope_id(scope) %>" aria-describedby="your_info section_<%= "#{index+1}" %>">
          <%= scope_field_tag(scope) %>
        </span>
      <% else %>
        <label class="value" for="<%= scope_id(scope) %>"><%= t "scopes.#{scope}.label" %>
          <%= scope_field_tag(scope) %>
        </label>
      <% end %>

      <label for="label_<%= scope_id(scope) %>" class="label-switch<% if not scope_value_present?(scope) %> toggle-value<% end %>">
        <input type="checkbox"
               id="label_<%= scope_id(scope) %>"
               name="scope[]"
               tabindex="0"
               aria-describedby="<%= scope_id(scope) %> share_col section_<%= "#{index+1}" %>"
               <% if scope_value_required?(scope) %>checked<%- end %>
               value="<%= scope %>">
          <div class="checkbox" role="checkbox" tabindex="-1">
            <span>YES</span>
          </div>
        </input>
      </label>

    <% end %>

  </section>

  <% end %>

<% end %>
