<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1><%= @pre_auth.client.application.name %> is requesting permission to:</h1>
    <p class="subhead">Your MyUSA data is yours to grant or deny access at will.</p>
    <div class="alert alert-warning hidden" id ="scopes-alert-none">
      <h1>No info for <%= @pre_auth.client.application.name %>?</h1>
      <p>
        If you would like to proceed with your interaction with <%= @pre_auth.client.application.name %>,
        please select one of the following pieces of information to get your conversation started.
      </p>
      <p>
        We've exposed all the context for their requests.
      </p>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= form_tag oauth_authorization_path,  class: 'form-inline', method: :post do %>
          <div class='form-group'>
          <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
          <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
          <%= hidden_field_tag :state, @pre_auth.state %>
          <%= hidden_field_tag :response_type, @pre_auth.response_type %>

          <ul class="list-unstyled scope-list">
            <% @pre_auth_groups.each do |set| %>
              <li>
                <h2 class='open group'>
                  <%= t("scope_groups.#{set[:name]}.header") %>
                </h2>
                <div class="label-pad">
                  <span class="muted-minor">
                    <%= t("scope_groups.#{set[:name]}.sub") %>
                  </span>
                  </br>
                  <% set[:groups].each do |group| %>
                    <div class='row'>
                      <div class = 'col-md-1'>
                        <label>
                        <%=t("group_labels.#{group[:label]}")%>
                        </label>
                      </div>
                      <div class = 'col-md-11'>
                      <% group[:group].each do |scope| %>
                        <span class='label-pad'>
                          <% if scope.downcase.starts_with?("profile.")  %>
                            <%= check_box_tag 'scope[]', scope, true, multiple: true%>
                            <% if SELECT_MENU_SCOPES.include? scope %>
                              <%= profile_select_menu scope, class:'form-control', style: 'width:170px; font-size:14px;'%>
                            <% else %>
                              <%= profile_text_field scope, class:'form-control', style: 'width:170px; font-size:14px;'%>
                            <% end %>
                          <% else %>
                            <%= current_user.scope_field_value(scope)%></label>
                          <% end %>
                        </span>
                      <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>
          </br>
          <div class="row">
            <div class="col-md-2">
              <%= hidden_field_tag :user_id, current_user.id %>
              <%= hidden_field_tag :allow, "1", :id => "allow" %>
              <%= submit_tag 'Allow Access', :class => 'btn btn-primary allow_button'%>
            </div>
            <div class="col-md-2">
              <%= oauth_deny_link @pre_auth, "No Thanks", class: "btn btn-default width-100" %>
            </div>
            <br/>
            <br/>
            </div>
        <% end %>
      </div>
    </div>
    <p class="disclaimer-info label-pad">
      <small>
        Additional information you provide here will be saved to your MyUSA profile. You may change your permissions to <%= @pre_auth.client.application.name %>  or update your MyUSA.gov profile at any time on myusa.com or whenever you see your name and the <span class="glyphicon glyphicon-cog"></span> symbol.
      </small>
    </p>
    <div class='alert alert-warning'>
      <h1>Still not convinced?</h1>
      <p>
        Feel free to head back to <%= oauth_deny_link @pre_auth, @pre_auth.client.application.name %> or visit your <%= link_to 'MyUSA Profile', '#', :title => 'MyUSA Profile' %>.
      </p>
    </div>
  </div>
</div>
