<%= render 'redesign/navigation' %>

<div id="permissions">
  <div id="welcome">
    <div class="welcome-text">
      <p>Welcome to <span>MyUSA</span>, your one account for government — we help you manage your online interactions with government agencies. Follow the instructions below to log into <span>Benefeds</span>.</p>
    </div>
  </div>
  <div id="permissions-box">
    <%= form_tag oauth_authorization_path, role:'form', class:'form-inline', id:'p-form', method: :post do %>
      <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
      <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
      <%= hidden_field_tag :state, @pre_auth.state %>
      <%= hidden_field_tag :response_type, @pre_auth.response_type %>
      <%= hidden_field_tag :original_scope, @pre_auth.scope %>

      <header>
        <h2><%= @pre_auth.client.application.name %> requests your information.</h2>
        <p><%= @pre_auth.client.application.name %> would like to use some of the data from your MyUSA account to personalize your interactions.</p>

        <p>Please review the following to determine what data you allow MyUSA to share with <%= @pre_auth.client.application.name %> from your MyUSA account. Sharing this information will help us serve you better, but it’s not required.</p>
      </header>

      <div class="dividers">
        <span id='your_info'>Your info</span>
        <span id='share_col'>Share</span>
      </div>
       
      <section>
        <h3 id='section_1'>Share your email to receive occasional updates about resources that may interest you.</h3>
        
        <span id='user_email' aria-describedby='your_info section_1'>elizabeth.goodman@gsa.gov</span>

        <label for="email" class="label-switch">
          <input type="checkbox" id="email" tabindex="0" aria-describedby='user_email share_col section_1'>
          <div class="checkbox" role="checkbox" tabindex="-1">
            <span>YES</span>
          </div>
        </label>
      </section>

      <section>
        <h3 id='section_2'>Share your name if you'd like <%= @pre_auth.client.application.name %> to use it in our communication with you.</h3>

        <label for="first_name" class="name_field">Enter your first name (optional):
          <input type="text" id="first_name" name="first_name" aria-describedby='section_2 your_info'>
        </label>

        <label for="fname_switch" class="label-switch fname">
          <input type="checkbox" id="fname_switch" tabindex="0" aria-describedby='first_name share_col section_2'>
          <div class="checkbox" role="checkbox" tabindex="-1">
            <span>YES</span>
          </div>
        </label>
        
        <label for="last_name" class="name_field">Enter your last name (optional):
          <input type="text" id="last_name" name="last_name" aria-describedby='section2 your_info'>
        </label>

        <label for="lname_switch" class="label-switch lname">
          <input type="checkbox" id="lname_switch" tabindex="0" aria-describedby='last_name share_col section_2'>
          <div class="checkbox" role="checkbox" tabindex="-1">
            <span>YES</span>
          </div>
        </label>
      </section>

      <section id="submit">
        <h3>By clicking Allow, you agree to share the above information from your MyUSA account with <%= @pre_auth.client.application.name %>.</h3> 
        <div class="button_group">
          <%= hidden_field_tag :user_id, current_user.id %>
          <%= hidden_field_tag :allow, "1", :id => "allow" %>
          <%= submit_tag 'Allow'%>
          <%= oauth_deny_link @pre_auth, "Cancel", :class => "cancel" %>
        </div>
      </section>
    <% end %>
  </div>
</div>

<%= render 'redesign/footer' %>