<div class="main">
  <div class="row">
    <div class="col-md-12"><h3 class='action-blue'><%= @pre_auth.client.application.name %> is requesting permission to:</h3></div>
  </div>
  <div class="row">
    <div class="col-md-12"><h5><p class="muted-major">Your MyUSA data is yours to grant or deny access at will.</p></h5></div>
  </div>
  </br>

  <div class='scope-warning'>
    <span><b>No info for <%= @pre_auth.client.application.name %>?</b></span>
    <br>
    <p>
      If you would like to proceed with your interaction with <%= @pre_auth.client.application.name %>, 
      one of the following pieces of information to get your conversation started.
      <br>
      We've exposed all the context of their requests.
    </p>
  </div>

  <div class="row">
    <div class="col-md-12">
          <%= form_tag oauth_authorization_path, method: :post do %>
            <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
            <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
            <%= hidden_field_tag :state, @pre_auth.state %>
            <%= hidden_field_tag :response_type, @pre_auth.response_type %>

    <ul class="list-unstyled scope-list">
         <% @pre_auth.scopes.each do |scope| %>
            <li>

              <h5>
                <span class="glyphicon glyphicon-chevron-right rotate expand"></span><span class='scope-description'><%= t("doorkeeper.scopes.#{scope}") %></span>
              </h5>
              <p>
              <span class="muted-minor label_pad"><%= t("scopes.#{scope}.label") %></span>
              </br>
              <span class='label_pad'>
                <label><%= check_box_tag 'scope[]', scope, true, multiple: true%>
                <% if scope.downcase.starts_with?("profile.") && current_user.scope_field_value(scope).blank? %>
                  </label><%= text_field "new_profile_values", scope, placeholder: t("scopes.#{scope}.placeholder"), class:'form-control', style: 'width:40%;display:inline;'%>
                  <% else %>
                    <%= current_user.scope_field_value(scope)%></label>
                  <% end %>              
                </span>
              </p>
            </li>
        <% end %>
        </ul>
        </br>
        <div class="row">
          <div class="col-md-6">
            <%= hidden_field_tag :user_id, current_user.id %>
            <%= hidden_field_tag :allow, "1", :id => "allow" %>
            <%= submit_tag 'Allow Access', :class => 'btn btn-primary allow_button'%>
          </div>
        </div>
        </br>
      <% end %>
      <%= form_tag oauth_authorization_path, method: :delete do %>
        <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
        <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
        <%= hidden_field_tag :state, @pre_auth.state %>
        <%= hidden_field_tag :response_type, @pre_auth.response_type %>
        <%= hidden_field_tag :scope, @pre_auth.scope %>
        <%= submit_tag 'No Thanks', :class => 'btn btn-default' %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <small>
        <p class="text-muted">
          Additional information you provide here will be saved to your MyUSA profile. You may change your permissions to <%= @pre_auth.client.application.name %>  or update your MyUSA.gov profile at any time on myusa.com or whenever you see your name and the <span class="glyphicon glyphicon-cog"></span> symbol.
        </p>
      </small>
    </div>
  </div>
    <div class='scope-warning'>
    <span><b>Still not convinced?</b></span>
    <br>
    <p>
      Feel free to head back to <a>YOUR APP</a> <%= @pre_auth.client.application.name %></a>  or visit your <a href="#">MyUSA profile</a>.
    </p>
  </div>
  <br><br>
</div>