<div class="row scope-page">
  <div class="col-md-8 col-md-offset-2">
    <h1><%= @pre_auth.client.application.name %> is requesting permission to:</h1>
    <p class="subhead">Your MyUSA data is yours to grant or deny access at will.</p>

    <div class="alert alert-warning hidden" id ="scopes-alert-none">
      <h1>No info for <%= @pre_auth.client.application.name %>?</h1>
      <p>
        If you would like to proceed with your interaction with <%= @pre_auth.client.application.name %>,
        please select one of the following pieces of information to get your conversation started.
      </p>
      <p>
        We've exposed all the context for their requests.
      </p>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= form_tag oauth_authorization_path, role:'form', class:'form-inline', method: :post do %>
          <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
          <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
          <%= hidden_field_tag :state, @pre_auth.state %>
          <%= hidden_field_tag :response_type, @pre_auth.response_type %>
          <%= hidden_field_tag :original_scope, @pre_auth.scope %>

          <%= render 'scope_list', scopes: @pre_auth.scopes %>

          <% if @pre_auth.client.application.tos_link.present? %>
            <p>
              By proceeding, you agree to <%= @pre_auth.client.application.name %>'s
              <%= link_to 'Terms of Service', @pre_auth.client.application.tos_link %>
              and <%= link_to 'Privacy Policy', @pre_auth.client.application.privacy_policy_link %>.
            </p>
          <% end %>
          <p>
            You are authorizing MyUSA to share the selected information with <%= @pre_auth.client.application.name %>
          </p>

          <div class="row">
            <div class="col-md-7 col-sm-8 col-xs-8">
              <%= hidden_field_tag :user_id, current_user.id %>
              <%= hidden_field_tag :allow, "1", :id => "allow" %>
              <%= submit_tag 'Allow Access', :class => 'btn btn-primary width-100'%>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <%= oauth_deny_link @pre_auth, "No Thanks", class: "btn btn-default width-100" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <p class="disclaimer-info label-pad">
      <small>
        Additional information you provide here will be saved to your MyUSA profile. You may change your permissions to <%= @pre_auth.client.application.name %>  or <%= link_to 'update your MyUSA profile', profile_path %> at any time by clicking on your email address.
      </small>
    </p>
    <div class="alert alert-warning hidden" id="scopes-alert-none2">
      <h1>Still not convinced?</h1>
      <p>
        Feel free to head back to <%= oauth_deny_link @pre_auth, @pre_auth.client.application.name %> or visit your <%= link_to 'MyUSA Profile', profile_path, :title => 'MyUSA Profile' %>.
      </p>
    </div>
    <p class="disclaimer-info label-pad">
      <small>
        <%= render 'application/privacy_act' %>
      </small>
    </p>
  </div>
</div>
