<div class="row scope-page">
  <div class="col-md-8 col-md-offset-2">
    <h1><%= @pre_auth.client.application.name %> is requesting permission to:</h1>
    <p class="subhead">Your MyUSA data is yours to grant or deny access at will.</p>

    <div class="alert alert-warning hidden" id ="scopes-alert-none">
      <h1>No info for <%= @pre_auth.client.application.name %>?</h1>
      <p>
        If you would like to proceed with your interaction with <%= @pre_auth.client.application.name %>,
        please select one of the following pieces of information to get your conversation started.
      </p>
      <p>
        We've exposed all the context for their requests.
      </p>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= form_tag oauth_authorization_path, role:'form', class:'form-inline', method: :post do %>
          <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
          <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
          <%= hidden_field_tag :state, @pre_auth.state %>
          <%= hidden_field_tag :response_type, @pre_auth.response_type %>
          <%= hidden_field_tag :original_scope, @pre_auth.scope %>

          <%= render 'scope_list', scopes: @pre_auth.scopes %>

          <p>
            You are authorizing MyUSA to share the selected information with <%= @pre_auth.client.application.name %>
          </p>

          <div class="row">
            <div class="col-md-7 col-sm-8 col-xs-8">
              <%= hidden_field_tag :user_id, current_user.id %>
              <%= hidden_field_tag :allow, "1", :id => "allow" %>
              <%= submit_tag 'Allow Access', :class => 'btn btn-primary width-100'%>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <%= oauth_deny_link @pre_auth, "No Thanks", class: "btn btn-default width-100" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <p class="disclaimer-info label-pad">
      <small>
        Additional information you provide here will be saved to your MyUSA profile. You may change your permissions to <%= @pre_auth.client.application.name %>  or <%= link_to 'update your MyUSA profile', profile_path %> at any time by clicking on your email address.
      </small>
    </p>
    <div class="alert alert-warning hidden" id="scopes-alert-none2">
      <h1>Still not convinced?</h1>
      <p>
        Feel free to head back to <%= oauth_deny_link @pre_auth, @pre_auth.client.application.name %> or visit your <%= link_to 'MyUSA Profile', profile_path, :title => 'MyUSA Profile' %>.
      </p>
    </div>
    <p class="disclaimer-info label-pad">
      <small>
      PRIVACY ACT STATEMENT. Authority: This collection is authorized by the E-Government Act of 2002 (P.L. 107-347). Purpose: Assist users in easier interaction with the Government. Routine Uses: This information may be used when required in legal or administrative proceedings, given to to agencies responsible for enforcing a statute or regulation, provided to Congress for constituent services or to OPM, OMB, or GAO for program evaluation purposes, shared with a consultant or contractor in the furtherance of a federal duty, given to NARA for records management purposes, shared with an agency when related to employee hiring or credentialing or issuance of a license or other benefit, or shared with an entity to redress a breach of the information system. Effects: Providing information is voluntary, but failure to provide information will limit an individuals’ ability to use MyUSA. For a complete explanation, please see the <%= link_to 'MyUSA Privacy Act System of Records Notice', 'http://www.gpo.gov/fdsys/pkg/FR-2013-07-05/pdf/2013-16124.pdf' %>.
      </small>
    </p>
  </div>
</div>
