  <div class="ten columns centered">
    <div class="panel group">
      <div class="ten columns">
        <h3>
          Allow <em><%= @pre_auth.client.application.name %></em> to access your MyUSA account?
        </h3>

        <p class="disclaimer">
          You can revoke access to any application at any time from your Apps page.
        </p>

        <p>
          The <strong><%= @pre_auth.client.application.name %></strong> application wants to:
        </p>
      </div>
      <div class="row">
        <div class="twelve columns">
          <%= form_tag oauth_authorization_path, method: :post do %>
            <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
            <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
            <%= hidden_field_tag :state, @pre_auth.state %>
            <%= hidden_field_tag :response_type, @pre_auth.response_type %>
            <ul>
              <% @pre_auth.scopes.each do |scope| %>
                <li>
                  <%= label_tag do %>
                    <%= scope_check_box_tag scope %>
                    <%= t("doorkeeper.scopes.#{scope}") %>
                  <% end %>
                  <% if scope.downcase.start_with?('profile.') %>
                    <%= profile_text_field scope %>
                  <% end %>
                </li>
              <% end %>
            </ul>
            </br>
            <%= submit_tag 'Allow', :class => 'large button positive' %>
          <% end %>
          <%= form_tag oauth_authorization_path, method: :delete do %>
            <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
            <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
            <%= hidden_field_tag :state, @pre_auth.state %>
            <%= hidden_field_tag :response_type, @pre_auth.response_type %>
            <%= hidden_field_tag :scope, @pre_auth.scope %>
            <%= submit_tag 'Cancel', :class => 'large button negative' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
