<div class="row aglio app-settings">
  <div class="col-md-3">
    <%= render 'profiles/nav'%>
  </div>
  <div class="col-md-9">
    <h1>
      Applications
    </h1>
    <h2>
      Public Approval Pending
    </h2>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% if @applications.blank? %>
        <tr>
          <td colspan="3">
            there are no applicaitons pending approval
          </td>
        </tr>
      <% end %>
      <% @applications.each do |application| %>
        <tr id="application_<%= application.id %>">
          <td><%= link_to application.name, edit_oauth_application_path(application) %></td>
          <td><%= app_status(application) %></td>
          <td>
            <%= link_to 'Edit Application', edit_oauth_application_path(application), class: 'btn btn-link' %>
            <%= form_for application, url: oauth_application_path(application) do |f| %>
              <%= hidden_field_tag(:return_to, admin_path) %>
              <%= f.hidden_field(:public, value: true) %>
              <%= f.submit 'Make Public', class: 'btn btn-link' %>
            <% end %>
            <%= render 'doorkeeper/authorized_applications/delete_form', application: application %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
