<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyUSA</title>
    <%= favicon_link_tag '/favicon.ico' %>
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Raleway:400,600,700|Open+Sans:400,700|Source+Sans+Pro', :rel => 'stylesheet', :type => 'text/css' %>
    <%= stylesheet_link_tag stylesheet_path('application'), media: "all", "data-turbolinks-track" => true %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
      
<header class="auth">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-5">
        <a href="/" title="MyUSA"><%= image_tag "myusa-logo.png", :alt => 'MyUSA Logo', :width => 134, :height => 38 %></a>
      </div>
      <div class="col-md-7 col-sm-7">
      </div>
    </div>
    <div class="header-hr">
    </div>
  </div>
</header>


      <div class="container">
  
  <div class="row top-buffer">
  <div class="col-md-10 col-md-offset-1">
    <div class="login callout-box">
      <div class="shield">
        <i class="fa icon-myusa"></i>
      </div>

      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-left">
          <h1>
            Shoot.  We seem to be temporarily unavailable.
          </h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>
            We apologize for any inconvenience.  Please try again later.
          </h2>
          <p>There seems to be a problem on our end. We have been notified and will make every attempt to get things up and running as soon as possible.</p>
          <p><a href="javascript:history.back()">Return to the previous page?</a>
        </div>
      </div>
    </div>
  </div>
</div>

</div>


<footer>
  <div class="container">
    <div class="row">
      <ul class="nav nav-pills nav-justified">
        <li>
          <%= image_tag "header-logo.png", :width => 53, :height => 15 %>
        </li>
        <li>
          <a href="/legal" title="MyUSA Policies including Terms and Conditions, Privacy Policy, Linking Policy, and PRA Statement">Policies</a>
        </li>
        <li>
          <a href="/faq" title="Help using MyUSA">Help</a>
        <li>
        <li class="muted text-right">
          <%= image_tag "usa-flag.png", :alt => 'USA Flag' %>
          MyUSA is an official website of the United States Government
        </li>
      </ul>
    </div>
  </div>
</footer>
  </body>
</html>
