<%= form_for [:oauth, application], id: 'new_application', html: {multipart: true, class: 'form-horizontal', role: 'form'} do |f| %>
  <% if application.errors.any? %>
    <div class="alert alert-danger" data-alert><p>Whoops! Check your form for possible errors</p></div>
  <% end %>

  <%= content_tag :div, class: "form-group#{' has-error' if application.errors[:name].present?}" do %>
    <div class="col-md-10 col-md-offset-2">
      <%= f.label :name, class: ' control-label', for: 'application_name' %>
      <br>
      <%= f.text_field :name, class: 'form-control' %>
      <%= doorkeeper_errors_for application, :name %>
    </div>
  <% end %>

  <%= content_tag :div, class: "form-group#{' has-error' if application.errors[:description].present?}" do %>
    <div class="col-md-10 col-md-offset-2">
      <%= f.label :description, class: 'control-label', for: 'application_description' %>
      <%= f.text_area(:description, size:'50x10', class: 'form-control')%>
      <%= doorkeeper_errors_for application, :description %>
    </div>
  <% end %>

  <%= content_tag :div, class: "form-group#{' has-error' if application.errors[:short_description].present?}" do %>
    <div class="col-md-10 col-md-offset-2">
      <%= f.label :short_description, class: 'control-label', for: 'application_short_description' %>
      <br>
      <%= f.text_field :short_description, class: 'form-control' %>
      <%= doorkeeper_errors_for application, :short_description %>
    </div>
  <% end %>

  <%= content_tag :div, class: "form-group#{' has-error' if application.errors[:url].present?}" do %>
    <div class="col-md-10 col-md-offset-2">
      <%= f.label :url, class: 'control-label', for: 'application_url' %>
      <br>
      <%= f.text_field :url, class: 'form-control' %>
      <%= doorkeeper_errors_for application, :url %>
    </div>
  <% end %>

  <%= content_tag :div, class: "form-group#{' has-error' if application.errors[:redirect_uri].present?}" do %>
    <div class="col-md-10 col-md-offset-2">
      <%= f.label :redirect_uri, class: 'control-label', for: 'application_redirect_uri' %>
      <br>
      <%= f.text_field :redirect_uri, class: 'form-control' %>
      <%= doorkeeper_errors_for application, :redirect_uri %>
      <% if Rails.env.development? %>
        <% if Doorkeeper.configuration.native_redirect_uri %>
            <span class="help-block">
              Use <code><%= Doorkeeper.configuration.native_redirect_uri %></code> for local tests
            </span>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%= content_tag :div, class: "form-group#{' has-error' if application.errors[:logo_url].present?}" do %>
    <div class='col-sm-2'>
    </div>
    <div class="col-sm-10">
      <%= f.label :logo_url, class: ' control-label', for: 'application_logo_url' %>
      <br>
      <%= f.text_field :logo_url, class: 'form-control' %>
      <%= doorkeeper_errors_for application, :logo_url %>
    </div>
  <% end %>

  <%= content_tag :div, class: "form-group#{' has-error' if application.errors[:custom_text].present?}" do %>
    <div class="col-md-10 col-md-offset-2">
      <%= f.label :custom_text, class: 'control-label', for: 'application_url' %>    
      <br>
      <%= f.text_field :custom_text, class: 'form-control' %>
      <%= doorkeeper_errors_for application, :custom_text %>
    </div>
  <% end %>

  <% if application.errors[:scopes].present? %>
    <%= content_tag :div, class: "form-group" do %>
      <div class="col-md-10 col-md-offset-2 alert alert-danger">
        You must select at least one scope.
      </div>
    <% end %>
  <% end %>

  <%= content_tag :div, class: "form-group" do %>
    <div class="col-md-10 col-md-offset-2 #{' has-error' if application.errors[:scopes].present?}">
      Select which parts of the MyUSA API your application will use
   </div>
  <% end %>

  <%= content_tag :div, class: "form-group" do %>
    <div class="col-md-10 col-md-offset-2">
       <%= render 'scope_list', application: application, selected_scopes: application.scopes.to_s.split %>
    </div>
   <%end%>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit 'Create Application', class: "btn btn-primary" %>
      <%= link_to "Cancel", oauth_applications_path, :class => "btn btn-default" %>
    </div>
  </div>
<% end %>
