<%= form_for [:oauth, application], id: 'new_application', html: {multipart: true, class: 'form', role: 'form'} do |f| %>
  <% if application.errors.any? %>
    <div class="alert alert-danger" data-alert><p>Whoops! Check your form for possible errors</p></div>
  <% end %>

  <%= content_tag :div, class: "form-group#{' has-error' if application.errors[:name].present?}" do %>
    <div class="form-group">
      <%= f.label :name, class: 'control-label', for: 'application_name' %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= doorkeeper_errors_for application, :name %>
    </div>
  <% end %>

  <%= content_tag :div, class: "form-group#{' has-error' if application.errors[:description].present?}" do %>
    <div class="form-group">
      <%= f.label :description, class: 'control-label', for: 'application_description' %>
      <%= f.text_area(:description, size:'50x5', class: 'form-control')%>
      <%= doorkeeper_errors_for application, :description %>
    </div>
  <% end %>

  <%= content_tag :div, class: "form-group#{' has-error' if application.errors[:short_description].present?}" do %>
    <div class="form-group">
      <%= f.label :short_description, class: 'control-label', for: 'application_short_description' %>
      <%= f.text_field :short_description, class: 'form-control' %>
      <%= doorkeeper_errors_for application, :short_description %>
    </div>
  <% end %>

  <%= content_tag :div, class: "form-group#{' has-error' if application.errors[:url].present?}" do %>
    <div class="form-group">
      <%= f.label :url, class: 'control-label', for: 'application_url' %>
      <%= f.text_field :url, class: 'form-control' %>
      <%= doorkeeper_errors_for application, :url %>
    </div>
  <% end %>

  <%= content_tag :div, class: "form-group#{' has-error' if application.errors[:redirect_uri].present?}" do %>
    <div class="form-group">
      <%= f.label :redirect_uri, class: 'control-label', for: 'application_redirect_uri' %>
      <%= f.text_field :redirect_uri, class: 'form-control' %>
      <%= doorkeeper_errors_for application, :redirect_uri %>
      <% if Rails.env.development? %>
        <% if Doorkeeper.configuration.native_redirect_uri %>
          <span class="help-block">
            Use <code><%= Doorkeeper.configuration.native_redirect_uri %></code> for local tests
          </span>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%= content_tag :div, class: "form-group#{' has-error' if application.errors[:logo_url].present?}" do %>
    <div class="form-group">
      <%= f.label :logo_url, class: ' control-label', for: 'application_logo_url' %>
      <br>
      <%= f.text_field :logo_url, class: 'form-control' %>
      <%= doorkeeper_errors_for application, :logo_url %>
    </div>
  <% end %>

  <%= content_tag :div, class: "form-group#{' has-error' if application.errors[:custom_text].present?}" do %>
    <div class="form-group">
      <%= f.label :custom_text, class: 'control-label', for: 'application_url' %>    
      <%= f.text_field :custom_text, class: 'form-control' %>
      <%= doorkeeper_errors_for application, :custom_text %>
    </div>
  <% end %>

  <% if application.errors[:scopes].present? %>
    <%= content_tag :div, class: "form-group" do %>
      <div class="alert alert-danger">
        You must select at least one scope.
      </div>
    <% end %>
  <% end %>

  <%= content_tag :div, class: "form-group" do %>
    <h2>
      Select the API Scopes that your Application will use
   </h2>
  <% end %>

  <%= render 'scope_list', application: application, selected_scopes: application.scopes.to_s.split %>

  <div class="row submit">
    <div class="col-md-8 col-sm-8">
      <%= f.submit 'Save Application', class: "btn btn-primary width-100" %>
    </div>
    <div class="col-md-4 col-sm-4">
      <%= link_to t(:cancel), authorizations_path, :class => 'btn btn-default width-100' %>
    </div>
  </div>
<% end %>
