<div class="page-header">
  <h1>Application: <%= @application.name %></h1>
</div>

<div class="row">
  <div class="col-md-8">
    <h4>Application Id:</h4>

    <p><code id="application_id"><%= @application.uid %></code></p>

    <h4>Secret:</h4>

    <p><code id="secret"><%= @application.secret %></code></p>


    <h4>Description</h4>
      <p><code><%= @application.description %></code></p>

    <h4>Short Description</h4>
      <p><code><%= @application.short_description %></code></p>

    <h4>Image</h4>
    <p>
      <%= image_tag @application.image.url(:medium) %>
    </p>

    <h4>Custom Text</h4>
      <p><code><%= @application.custom_text %></code></p>

    <h4>Scopes:</h4>

    <% @application.scopes.each do |scope| %>
      <p><code><%= scope %></code></p>
    <% end %>

    <h4>URL</h4>
      <p><code><%= @application.url %></code></p>

    <h4>Callback urls:</h4>

    <table>
      <% @application.redirect_uri.split.each do |uri| %>
        <tr>
          <td>
            <code><%= uri %></code>
          </td>
          <td>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="col-md-4">
    <h3>Actions</h3>

    <p><%= link_to 'Edit', edit_oauth_application_path(@application), class: 'btn btn-primary' %></p>

    <p><%= render 'delete_form', application: @application, submit_btn_css: 'btn btn-danger' %></p>
  </div>
</div>
