                          <tr>
                              <td align="center" valign="top">
                                  <!-- BEGIN HEADER // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
                                        <tr>
                                            <td valign="top" class="headerContent">
                                              <h1 class="left-20" >Message from <%= @app.name %> about <%= @notification.subject %></h1>
                                            </td>
                                            <td valign="top" class="headerContent">
                                              <%= image_tag @app.logo_url, alt: @app.name, class: 'photo' -%>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // END HEADER -->
                                </td>
                            </tr>
                          <tr>
                              <td align="center" valign="top">
                                  <!-- BEGIN BODY // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
                                        <tr>
                                            <td valign="top" class="bodyContent" mc:edit="body_content">
                                                <p><%= @notification.body %></p>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // END BODY -->
                                </td>
                            </tr>
                          <tr>
                              <td align="center" valign="top">
                                  <!-- BEGIN FOOTER // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter">
                                        <tr>
                                            <td valign="top" class="footerContent" style="padding-top:0; padding-bottom:40px;" mc:edit="footer_content02">
                                              This email was sent by MyUSA to <%= @user.email %> because you have approved notifications from <%= @app.name %>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // END FOOTER -->
                                </td>
                            </tr>