<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>
    <%= label_tag 'inputEmail', t('devise.enter_your_email')%>
  <div class="myusa-input-group">
    <%= f.email_field :email, class: "form-control", id: "inputEmail", autofocus: true, placeholder: 'Email Address' %>
    <%= hidden_field_tag :login_required, params[:login_required] %>
    <%= submit_tag 'Connect', :type => 'submit' %>
  </div>
  <div class="checkbox form-control">
    <label for="remember">
      <%= f.check_box :remember_me, id: "remember" %>
      Remember me on this computer for 2 weeks
    </label>
  </div>
<% end %>
