<% if user_signed_in? %>

  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">
        Welcome to MyUSA<% if current_user.profile.first_name %>, <%= current_user.profile.first_name %><% end %>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">
        Here's a few ways to get started with MyUSA.
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <%= link_to 'My Profile', profile_path, :class => 'btn btn-primary btn-lg width-100' %>
    </div>
    <div class="col-md-5">
      <%= link_to 'My Applications', authorizations_path, :class => 'btn btn-primary btn-lg width-100' %>
    </div>
  </div>

<% else %>

  <div id="myusa-signin">

    <div class="myusa-signin-form">

      <h2><%= t('devise.connect_with') %></h2>
      <p class="myusa-subhead">Your one account for government</p>

      <div class="myusa-sign-form_input">
        <div class="omniauth-buttons">
          <%= bs_button_to "Connect with Google", user_omniauth_authorize_path(:google_oauth2, login_required: params[:login_required]), :class => "google" %>
        </div>
        <div class="email-buttons">
          <%= render partial: 'devise/sessions/email_option', locals: { resource: User.new, resource_name: :user } %>
        </div>
        <noscript>
          <h2> or sign up with your email address </h2>
          <%= render partial: 'devise/sessions/email_option', locals: { resource: User.new, resource_name: :user } %>
        </noscript>
        <small>
        By using MyUSA you accept the <%= link_to "Terms of Service", legal_path %>.</small>
        <div class="more-signin">
          <a href="#email" class="myusa-button more-options"> or Connect with your Email Address</a>
          <a href="#oauth" class="myusa-button less-options google">or Connect with Google</a>
        </div>
      </div>
    </div>
  </div>

<% end %>
