<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="login">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1><%= t('devise.almost_there') %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p><%= t('devise.email.instructions.email_sent', email: @email) %></p>
          <p><%= t('devise.email.instructions.click_that_link') %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p><%= t('devise.email.instructions.new_link_request', request_link_link: user_session_token_path(token_id: @token.id)).html_safe %></p>
          <%= link_to "Go Back", root_path, class: "btn btn-link" %>
        </div>
      </div>
    </div>
  </div>
</div>
