<% if user_signed_in? %>
  <div class="row">
    <div class="ten columns centered">
      <div class="panel group">
        <div class="ten columns">
          <h3>
            Allow 
            <em><%= @oauth2.client.name %></em>
            to access your MyUSA account?
          </h3>
          <p>
            The
            <b>
              <%= @oauth2.client.name %>
            </b>
            application wants to:
            <ul class="plain-list">
              <% @oauth2.client.owner.find_scopes(@oauth2.scopes).each do |scope| %>
                <li>
                  <%= scope.description %>
                </li>
              <% end %>
            </ul>
            <p class="disclaimer">
              You can revoke access to any application at any time from your Apps page.
            </p>
          </p>
        </div>
        <div class="two columns hide-for-small panel">
          <%= image_tag @oauth2.client.owner.logo, :class => 'icon'    %>
          <p class="info">
            <%= @oauth2.client.owner.short_description %>
          </p>
        </div>
        <div class="row">
          <div class="twelve columns">
            <%= form_tag "/oauth/allow" do %>
              <% @oauth2.params.each do |key, value| %>
                <%= hidden_field_tag key, value %>
              <% end %>
              <%= hidden_field_tag :user_id, current_user.id %>
              <%= hidden_field_tag :allow, "1", :id => "allow" %>
              <%= submit_tag 'Allow', :class => 'large button positive' %>
              <%= submit_tag 'Cancel', :class => 'large button negative'       %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <p>
    Please
    <%= link_to 'sign in', sign_in_path %>
    to continue.
  </p>
<% end %>
