<% if user_signed_in? %>
<div class="main">
  <div class="row">
    <div class="col-md-12"><h3><%= @oauth2.client.name %> is requesting permission to:</h3></div>
  </div>
  <div class="row">
    <div class="col-md-12"><h5><p class="text-muted">Your MyUSA data is yours to grant or deny access at will.</p></h5></div>
  </div>
  </br>
  <div class="row">
    <div class="col-md-12">
      <%= form_tag "/oauth/allow" do %>
        <% @oauth2.params.each do |key, value| %>
          <%= hidden_field nil, key, {:value => value} %>
        <% end %>
        <ul class="list-unstyled scope-list">
         <% @oauth2.client.owner.find_scopes(@oauth2.scopes).each do |scope| %>
            <li>
              <h5>
                <span class="glyphicon glyphicon-chevron-right rotate"></span> <%= scope.description %>
              </h5>
              <p>
              <%= scope.name %></br><%= check_box_tag "selected_scopes[#{scope.scope_name}]", "1", true  %>
                <% if scope.scope_name.downcase.starts_with?("profile.") &&  current_user.scope_field_value(scope.scope_name).blank? %>
                  <%= text_field "new_profile_values", scope.scope_name %>
                <% else %>
                  <%= current_user.scope_field_value(scope.scope_name)%>
                <% end %>
              <p>
            </li>
        <% end %>
        </ul>
        </br>
        <div class="row">
          <div class="col-md-12">
            <%= hidden_field_tag :user_id, current_user.id %>
            <%= hidden_field_tag :allow, "1", :id => "allow" %>
            <%= submit_tag 'Allow', :class => 'btn btn-primary' %>
            <%= submit_tag 'Cancel', :class => 'btn'       %>
          </div>
        </div>
        </br>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <small>
        <p class="text-muted">
          Additional information you provide here will be saved to your MyUSA profile. You may change your permissions to <%= @oauth2.client.name %> or update your MyUSA.gov profile at any time on myusa.com or whenever you see your name and the <span class="glyphicon glyphicon-cog"></span> symbol.
        </p>
      </small>
    </div>
  </div>
<% else %>
  <p>
    Please
    <%= link_to 'sign in', sign_in_path %>
    to continue.
  </p>
<% end %>
</div>