<header class="page-header">
  <h1>Settings</h1>
  <p class="sub-heading">Authorized Applications</p>
</header>

<div class="main">
  <div class="row">
    <div class="col-md-12">
      <% @authorizations.each do |authorization| %>
        <% application = authorization.application %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-7">
                <h3 class="panel-title">
                  <%= application.name %>
                </h3>
              </div>
              <div class="col-md-3 text-right">
                <h3 class="panel-title">
                  Granted: <%= authorization.created_at.strftime('%m/%d/%Y') %>
                </h3>
              </div>
              <div class="col-md-2 text-right">
                <h3 class="panel-title">
                  <%= render 'delete_form', application: application %>
                </h3>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <h4>Permissions</h4>
              <ul class="list-unstyled scope-list">
                <% pre_auth_groups(authorization.scopes, application.scopes).each do |set| %>
                  <li>
                    <h2 class="open group">
                      <%= t("scope_groups.#{set[:name]}.header") %>
                    </h2>
                    <div class="label-pad">
                      <span class="muted-minor">
                        <%= t("scope_groups.#{set[:name]}.sub") %>
                      </span>
                      </br>
                      <% set[:groups].each do |group| %>
                        <div class="row top-buffer">
                          <div class="col-md-3">
                            <%= label_tag nil, t("group_labels.#{group[:label]}"), id: group[:label] %>
                          </div>
                          <div class="col-md-9">
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </li>
                <% end %>
              </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
