<header class="page-header">
  <h1>Settings</h1>
  <p class="sub-heading">Authorized Applications</p>
</header>

<div class="main">
  <div class="row">
    <div class="col-md-12">
      <div class="list-group">
        <% @applications.each do |application| %>
          <a href="#" class="list-group-item">
            <div class="col-md-7"><h4 class="list-group-item-heading"><%= application.name %></h4></div>
            <div class="col-md-5 right">Granted: <%= application.created_at.strftime('%m/%d/%Y') %> <%= render 'delete_form', application: application %></div>
            <p class="list-group-item-text"><%= application.description %></p>
            <hr />
            <h5>Permissions</h5>
            <ul>
            <% application.scopes.each do |scope| %>
              <li><%= scope %></li>
            <% end %>
            </ul>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>
