<div class="header-signedin pull-right dropdown">
  <a data-toggle="dropdown" href="#" class="action-blue-user" id="user-settings">
    <%= current_user.email %>
    <i class="fa fa-caret-down"></i>
  </a>
  <ul class="dropdown-menu settings-menu" role="menu" aria-labelledby="user-settings">
    <li role="presentation"><%= link_to 'Your Profile', profile_path, role: 'menuitem', tabindex: -1 %></li>
    <li role="presentation"><%= link_to 'Your Applications', authorizations_path, role: 'menuitem', tabindex: -1 %></li>
    <% if @display_not_me %>
      <li role="presentation"><%= link_to 'This is not me', not_me_path, role: 'menuitem', tabindex: -1 %></li>
    <% end %>
    <li role="presentation" class="divider"></li>
    <li role="presentation" class="text-center"><%= link_to 'Log Out', destroy_user_session_path, class: "large", role: 'menuitem', tabindex: -1 %></li>
  </ul>
</div>
