<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= yield :refresh_tag %>
    <%= content_for?(:title) ? yield(:title) : '<title>MyUSA</title>'.html_safe %>
    <%= favicon_link_tag '/favicon.ico' %>
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Raleway:400,600,700|Open+Sans:400,700|Source+Sans+Pro', :rel => 'stylesheet', :type => 'text/css' %>
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900|Raleway:400,300,100,600,500,700', :rel => 'stylesheet', :type => 'text/css' %>
    <%= stylesheet_link_tag "redesign", media: "all", "data-turbolinks-track" => true %>

    <%= csrf_meta_tags %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <%= yield %>

    <div id="modal" aria-hidden="true" aria-labelledby="modalTitle" aria-describedby="modalDescription" role="dialog">
      <div id="modalDescription" class="screen-reader-offscreen">Beginning of a dialog window for the contact form. It begins with a heading 3 called &quot;Have a question? Let us know!&quot;. Escape will cancel and close the window.</div>
      <h3 id="modalTitle">Have a question? Let us know!</h3>
      <div id="modalCloseButton" class="modalCloseButton" title="Close registration form">
        <span id="cancel">X</span>
        Close 
        <span>or Esc Key</span>
      </div>

      <hr />
      
      <%= form_for :contact_us, remote: true, url: contact_us_path(format: :json), html: { id: 'contact-form', role: "form" } do |f| %>
        <div class="form-group">
          <%= f.label 'Message:' %>
          <%= f.text_area :message, placeholder: 'How can we help you?' %>
        </div>
        <div class="form-group">
          <%= f.label 'Your name:' %>
          <%= f.text_field :from, placeholder: 'What is your name?' %>
        </div>
        <div class="form-group">
          <%= f.label 'Your email:' %>
          <%= f.text_field :return_email, placeholder: 'What is your email address?' %>
        </div>

        <hr />

        <%= f.submit 'Send Message', 'data-loading-text' => "Sending your message..." %>
      <% end %>
      <div id="contact-alert" class="alert-box error">
        <p class="message">An error has occurred. Please try again.</p>
      </div>
    </div>
    
    <div id="modalOverlay" tabindex="-1"></div>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <%= javascript_include_tag "application" %>

    <%= render 'layouts/analytics' %>

  </body>
</html>
